html{
    font-size: 100%;
}
body{
    
font-size: 15px;
font-family: "Open sans", Helvetica, Arial, sans-serif;
color: #666666;
padding: 0;
    

}
/********************** Header ******************/
#head{
    background: #f4f4f4 url(/img/abud.jpg) top center;
    background-size: cover;
    color: goldenrod;
    padding: 30px 0 35px 0;
}
#head img.img-circle{
    display: block;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border: 9px solid orangered;
    margin: 0 auto;
}
#head .title{
    font-family:Alice, Georgia, serif ;
    font-size: 49px;
    font-size: 3.0625rem;
}
#head .title a{
    text-decoration: none;
    color: #333333;
}
#head .tagline{
    display: block;
    font-size: 14px;
    font-size: 3.0625rem;
    line-height: 1.2em;
    color: goldenrod;
    margin: 5px 0 0 ;
}
#head .tagline b{
    font-weight: normal;
}
#head .tagline a{
    color: goldenrod;
}
.home #head{
    padding: 90px 0;
}
.home #head .title{
    font-size: 49px;
    font-size: 3.0625rem;
}
.home #head .tagline{
    font-size: 16px;
    font-size: 1rem;
    margin: 15px 0 0;
}